{%extends "blog/base.html"%}
{% block content %}
<div style="background-color:#1D2228" class="content-section">
        <h3 style="color:#FFFFFF">Our Group information</h3>
        <p style="color:#FFFFFF" >Members</p>
          <ul class="list-group">
            <li style="background-color:#1D2228;color:#FFFFFF;border-color: #FFFFFF;" class="list-group-item ">Shraddha Jathar-43</li>
            <li style="background-color:#1D2228;color:#FFFFFF;border-color: #FFFFFF;" class="list-group-item ">Priyanka Pawar-44</li>
            <li style="background-color:#1D2228;color:#FFFFFF;border-color: #FFFFFF;" class="list-group-item ">Ajit Tomar-45</li>
          </ul>
          <br>
          <p style="color:#FFFFFF">Guide</p>
          <li style="background-color:#1D2228;color:#FFFFFF;border-color: #FFFFFF;" class="list-group-item list-group-item-light">Umesh Mantale</li>
        </p>
      </div>
{% endblock content%}